* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --pale-orange:#f7e9dc;
    --soft-red:#ec755d;
    --Cyan: #fffcf7;
    --cream:#76b5bc;
    --dark-brown:#312414;
    --mid-brown:#9a948c;
    --border-radius:10px;
}
body {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}
.main {
    background-color:var(--pale-orange) ;
    padding: 30px 15px;
    min-height: 100vh;
}
.bar-chart {
    padding: 10px 5px;
    margin: 55px auto;
}
.balance {
    display: flex;
    justify-content: space-between;
    background-color: var(--soft-red);
    color: var(--Cyan);
    padding: 15px;
    border-radius: var(--border-radius);
}
.balance img {
    width: 50px;
}
.balance-content p {
    margin: 0 0 10px;
    font-size: 12px;
}
.balance-content span {
    font-size: 22px;
    font-weight: bold;
}
.details {
    background-color: var(--Cyan);
    border-radius: var(--border-radius);
    padding: 20px 20px ;
    margin-top: 15px;
}
.details h1
{
    font-size: 20px;
    color: var(--dark-brown);
    font-weight: bold;
    margin: 5px 0px 25px;
}
.chart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 0px;
}
.chart .day {
    position: relative;
    width: 30px;
    cursor: pointer;
}
.day .content {
    display: block;
    width: 100%;
    border-radius: 5px;
    background-color: var(--soft-red);
}
.day .content.active {
    background-color: var(--cream);
}
.day .amount {
    width: 45px;
    padding: 5px;
    background-color: var(--dark-brown);
    border-radius: 3px;
    color: var(--Cyan);
    position: absolute;
    margin-right: 5px;
    top: -27px;
    left: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    transition: .3s;
    transform: translateX(-50%);
}
.day .content:hover {
    opacity: .8;
}
.chart .day:hover .amount  {
   display: flex;
}
.chart .day::after {
    content: attr(data-day);
    position: absolute;
    font-size: 11px;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--mid-brown);
}
hr {
    background-color: var(--pale-orange);
    height: 2px;
    border: none;
    margin: 10px 0 20px;
}
.footer {
    display: flex;
    justify-content: space-between;
}
.total h3 {
    margin: 0;
    color: var(--dark-brown);
    font-weight: 700;
    font-size: 28px;
}
.tax {
    text-align: right;
}
.tax span {
    margin-top: 22px;
    color: var(--dark-brown);
    display: block;
    font-weight: bold;
}
.total p , 
.tax p 
{
    font-size: 12px;
    color: var(--mid-brown);
    margin:0;
}
/* Media */
 /* Small devices (landscape phones, 576px and above till next break point) */
@media (min-width: 376px) { 
    .bar-chart {
        width: 320px;
    }
}